<div id='UI_EXER_SELECT'>

    <div class='leftcorn'>
        <img src="/files/plogo.png" style="
        position: relative;
        left: 10px;
        width: 54px;
        float: left;
        top: 20px;" href="/">
    </div>

    {%if 'opened_ex' in data.keys() %}
    <button style="
        border: 1px solid rgb(103, 143, 239);
        /* border: none; */background-color: #486CEE;
        font-family: 'ProximaNova-Regular',serif;
        color: white;
        padding: 5px 15px;
        outline: none;
        text-shadow: 0px 2px 0.58px rgba(0,0,0,0.15);
        
        font-size: 1em;"
            onclick="if($('.alertmenu').css('display') == 'block'){$('.alertmenu').animate({'margin-top':'-45px', 'opacity':'0'}, 100, function(){$('.alertmenu').css({'display':'none'}) })} else{$('.alertmenu').css({'display':'block'}).animate({'margin-top':'-40px', 'opacity':'1'}, 100)}">
        {{data['description']}}
    </button>

    <div class='alertmenu'>
        {% for i in data['opened_ex'] %}
        <button onclick="location.replace('/e/{{i}}')">{{ data['descriptions'][i] }}</button>
        {% end %}
    </div>
    {%end%}

</div>