<div id='UI_EXER_SELECT'>

    <div class='leftcorn'>
        <img src="/files/plogo.png" style="
        position: relative;
        left: 10px;
        width: 54px;
        float: left;
        top: 20px;" href="/">
    </div>

    {%if 'opened_ex' in data.keys() %}
    <button style="border: none;background-color: #6381f1;color: white;border-radius: 23px;padding: 8px 27px;outline: none;text-shadow: 0px 2px 0.58px rgba(0,0,0,0.15);font-size: 1em;position: absolute;top: 30px;left: 50%;transform: translateX(-50%);"
            onclick="if($('.alertmenu').css('display') == 'block'){$('.alertmenu').animate({'margin-top':'70px', 'opacity':'0'}, 100, function(){$('.alertmenu').css({'display':'none'}) })} else{$('.alertmenu').css({'display':'block'}).animate({'margin-top':'75px', 'opacity':'1'}, 100)}">
        {{data['description']}}
    </button>

    <div class='alertmenu'>
        {% for i in data['opened_ex'] %}
        <button onclick="location.replace('/e/{{i}}')">{{ data['descriptions'][i] }}</button>
        {% end %}
    </div>
    {%end%}

</div>